html{
    scroll-behavior:smooth;
}

*,
*::before,
*::after{
    box-sizing:border-box;
}

*{
    margin:0;
    padding:0;
}

body{
    line-height:1.6;
    color:#fff;
    overflow-x:hidden;
    background:#000;
    background-image:url("../images/background.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    font-family:"Times New Roman", Times, serif;
}

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    padding:20px 50px;
}

header .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}


header .navbar .logo{
    display:inline-block;
}

header .navbar .logo img{
    height:60px;
    width:auto;

    transition:
        transform .8s cubic-bezier(.4,0,.2,1),
        filter .3s ease;
}


.hero{
    min-height:60vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    padding:120px 8% 40px;
    color:white;
    flex-wrap: nowrap;
}

@media (min-width: 1200px) {
    .hero {
        justify-content: flex-start;
        padding-left: 10%;
    }
}
.hero-image{
    width:40%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-100px;
    margin-right:40px; 
    margin-left:-100px;
    perspective: 1000px;
}

.hero-image img{
    width:320px;
    height:400px;
    object-fit:cover;
    object-position:center -5%;
    border-radius:50%;
    box-shadow:0 1px 0px rgba(0,0,0,.35);
    transform:translateX(0px);
}
    .hero-content {
        flex: 1;
        width:55%;
        max-width:750px;
        text-align: left;
        margin-left:-150px

    }

    .hero-content h1 {
        font-size: 40px;
        font-weight: 700;
        font-style: italic;
        line-height: 1.1;
        margin-bottom: 10px;
        text-align: center;
        margin-left:-150px;
    }

    .hero-content h2 {
        font-size: 45px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top:-80px;
        text-align: center;
        margin-left:-150px;
    }

    .hero-content h3 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
        margin-left:-150px;
          
    }

    .hero-content .skills {
        display:flex;
        justify-content:flex-start;
        gap:15px;
        margin-bottom:40px;
        font-size:30px;
        transition:margin 0.3s ease;
        margin-left:40px;
    }

.hero-content .tagline{
    display:flex;
    align-items:flex-start;
    margin-top:60px;
    margin-bottom:50px;
    font-size: 80px;
}

.hero-content .tagline-icon{
    width:55px;
    height:55px;
    padding:9px;
    background:#fff;
    border-radius:50%;
    object-fit:contain;
    flex-shrink:0;
    box-shadow:0 4px 10px rgba(0,0,0,.25);

    animation:floatIcon 3s ease-in-out infinite;
}

.tagline-text{
    margin-left:25px;
}

.line1{
    font-size:30px;
    font-style:italic;
    line-height:1.5;
    margin-right:30px;
  
}

.line2{
    margin-top:8px;
    margin-left:0;
    font-size:30px;
    font-style:italic;
    line-height:1.5;
}

.highlight{
    color:#4da3ff;
    font-weight:700;
    animation:glowText 3s ease-in-out infinite;
}

@keyframes floatIcon{
    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-9px);
    }
}

@keyframes glowText{
    0%,100%{
        color:#ff744d;
        text-shadow:0 0 8px rgba(219, 255, 77, 0.6);
    }

    50%{
        color:#ffffff;
        text-shadow:0 0 18px rgba(255,255,255,.9);
    }
}